:root{
  --primario: #F58332;
  --cinza: #d8d8d8;
  --preto: #000000;
  --branco:#f5f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--branco);
}








